<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container" style="width: auto; padding: 0 20px;">
      <a class="brand" href="#">SG ISC</a>
      <ul class="nav">
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Layouts Homepage <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="nav-header">3x6x3</li>
            <li><a href="#">Header + 3x6x3 + Footer</a></li>
            <li><a href="#">Header + 12 + 3x6x3 + Footer</a></li>
            <li class="divider"></li>
            <li class="nav-header">3x7x2</li>
            <li><a href="#">Header + 3x7x2 + Footer</a></li>
            <li><a href="#">Header + 12 + 3x7x2 + Footer</a></li>
            <li class="divider"></li>
            <li class="nav-header">2x7x3</li>
            <li><a href="#">Header + 2x7x3 + Footer</a></li>
            <li><a href="#">Header + 12 + 2x7x3 + Footer</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Layouts Internal <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="nav-header">3x6x3</li>
            <li><a href="#">Header + 3x6x3 + Footer</a></li>
            <li><a href="#">Header + 12 + 3x6x3 + Footer</a></li>
            <li class="divider"></li>
            <li class="nav-header">3x7x2</li>
            <li><a href="#">Header + 3x7x2 + Footer</a></li>
            <li><a href="#">Header + 12 + 3x7x2 + Footer</a></li>
            <li class="divider"></li>
            <li class="nav-header">2x7x3</li>
            <li><a href="#">Header + 2x7x3 + Footer</a></li>
            <li><a href="#">Header + 12 + 2x7x3 + Footer</a></li>
          </ul>
        </li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Forms</a></li>
        <li><a href="#">|</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">All Components <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Cookie Bar</a></li>
            <li class="divider"></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">HEADER</a>
              <ul class="dropdown-menu">
                <li><a href="#">Header</a></li>
                <li><a href="#">Logo</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Language Bar</a></li>
                <li><a href="#">Social Media</a></li>
                <li><a href="#">Nav</a></li>
              </ul>
            </li>            
            <li class="divider"></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">SIDEBARS</a>
              <ul class="dropdown-menu">
                <li><a href="#">Nav</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Social Media</a></li>
                <li><a href="#">CTAs</a></li>
                <li><a href="#">Feature Box</a></li>
                <li><a href="#">Key Facts</a></li>
                <li><a href="#">Youtube Widget</a></li>
              </ul>
            </li>            
            <li class="divider"></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">MAIN COLUMN</a>
              <ul class="dropdown-menu">
                <li><a href="#">Links</a></li>
                <li><a href="#">H1</a></li>
                <li><a href="#">Main Body Text</a></li>
                <li><a href="#">Tables + UL + OL</a></li>
              </ul>
            </li>  
            <li class="divider"></li>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#">FOOTER</a>
              <ul class="dropdown-menu">
                 <li><a href="#">Left Contact + Social</a></li>
                 <li><a href="#">Center links</a></li>
                 <li><a href="#">Right SG + Copyright</a></li>
              </ul>
            </li>             
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>