{% block content %}   
<div id="wrapper" class="container" style="padding-top:20px;">
	<h1>SG ISC for Creative Services main setup</h1>
	<br>
	<blockquote>
		<p><strong>TO DO:</strong></p>
		<ol>
			<li>Add all bits of code (components)</li>
			<li>Create megacontrols</li>
			<li>Create pages for megacontrols/components (auto?) -> pages</li>
			<li><strike>NAV? Sitemap nav? Auto? Check</strike></li>
			<li>Create pages for layouts, sitemap and forms -> layouts</li>
			<li>Add style bits (youtube, etc) + add to styles.mix.css</li>
		</ol>
	</blockquote>
	<code>KD. v0.1.2 — Alpha</code>
	
</div>
{% endblock %}