<div id="searchwrapper" class="siteSearch">
    <fieldset>
        <legend>Search this site</legend>
        <label for="iscrlayout_0_ctl02_SearchTextBox" id="iscrlayout_0_ctl02_SearchLabel" class="searchLabel">Search</label>
        <input name="iscrlayout_0$ctl02$SearchTextBox" type="text" value="Search" maxlength="200" id="iscrlayout_0_ctl02_SearchTextBox" class="searchInput" onfocus="if(this.value==this.defaultValue) this.value=&#39;&#39;;" />
        <input type="submit" name="iscrlayout_0$ctl02$SearchButton" value="Search" id="iscrlayout_0_ctl02_SearchButton" class="searchButton" />
    </fieldset>
</div>