<div class="siteLogo">
    <a href="/" title="Return to the homepage">
        <img src="/-/media/ISC/LJMU/Logos/Logo_p_2.png" alt="Liverpool John Moores University - International Student Centre" title="Liverpool John Moores University - International Student Centre" height="78" width="270" />
    </a>
</div>