<div class="buttons">
	<a href="https://www.facebook.com/ISCLJMU" target="_blank">
		<img src="/-/media/ISC/LJMU/Logos/fb.jpg" alt="Facebook" width="30" height="30" />
	</a>
	<a href="https://twitter.com/ljmuisc" target="_blank">
		<img src="/-/media/ISC/LJMU/Logos/tw.jpg" alt="Twitter" width="30" height="30" />
	</a>
	<a href="http://www.youtube.com/user/ljmuisc/videos" target="_blank">
		<img src="/-/media/ISC/LJMU/Logos/yt.jpg" alt="You Tube" width="30" height="30" />
	</a>
</div>