<header>
    <div class="container">
        <div class="row">
            <div class="span3">
               {% include "_components/sitelogo" %}
            </div> <!-- /span3 -->
            <div class="span6">
            &nbsp;
            </div>
            <div class="span3">
                {% include "_components/search" %}
                {% include "_components/social_buttons" %}
                {% include "_components/language_links" %}
            </div> <!-- /span3 -->
         </div> <!-- /row -->
    </div> <!-- /container -->
</header>